
.items{
    /* border: 2px solid black; */
    display: flex;
    background-color: rgb(99, 231, 72);
    margin: 1%;
    padding: 10px;
    margin-bottom: 20px;
    
}
.date{
     border: 2px solid red;
     flex-basis: 20%;
    align-items: center;

}

.item-desc{
    /* border: 2px solid black; */
    display: flex;
    flex-basis: 50%;
    justify-content: space-between;
    margin-left: 10px;
    
}
.item-desc h2 {
    /* border: 1px solid green; */
    color: rgb(255, 0, 0);
    font-size: 1.8rem;
}

.item-price{
justify-self: center;
align-self: center;
padding: 5px 3%;
margin-right: 2%;
color: white;
background: #000;
border-radius: 12px;
border: 2px solid white;
}
.item-change{
    justify-self: center;
    align-self: center;
    text-align: center;
    margin-right: 1%;
    border-radius: 12px;
    width: 100px;
    }